*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 450;
}
body{
    /* padding-top: 50px; */
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;    
}

#logo{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#logo:hover{
    cursor: pointer;
}

#containerHeader1{
    display: flex;
    justify-content: space-between;
    /* width: 700px; */
    align-items: center;
}

#inp1{
    height: 25px;
}

#inp1{
    border: none;
    background-color: rgb(245, 245, 245);
    width: 200px;
}

#barraPesquisa{
    /* justify-content: space-between; */
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    padding: 8px;
    width: 310px;

}

#lupinhaPesquisa{
    margin-right: 5px;
}

#navigation{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}

#imgSeta {
    margin-left: 5px;
}

#containerHeader2{
    display: flex;
    align-items: center;
}

#carrinho{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100px;
    justify-content: space-evenly;
    border: solid black 1px;
    border-radius: 70px;
    margin-left: 10px;   
}

#cart{
    height: 20px;

}

#divnumero0{
    display: flex;
    justify-content: center;
    background-color:rgb(245, 245, 245);
    border-radius: 50%;
    align-items: center;
    font-size: small;
    width: 25px;
    height: 25px
}

#section1{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 700px;
    max-width: 100%;
    background-color: rgb(236, 232, 232);
}

#textoEscolha{
    margin-top: 90px;
    flex-wrap: wrap;
    color: white;
    font-size: 50px;
    width: 700px;
    margin-bottom: 30px;
}

#textoLuzes{
    color: white;
    font-size: 15px;
    width: 500px;
    line-height: 1.5;
}

#exploreButton{
    margin-top: 150px;
    color: white;
    border:2px solid white;
    background-color: transparent;
    border-radius: 40px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 20px;
}

#exploreButton:hover{
    text-decoration: underline;
    text-underline-offset: 6px;
}

#textoImg1{
    position: absolute;
    left: 30px;

}

#section2{
    background-color: rgb(243, 240, 240);
}


#itensEverTudo{
    display: flex;
    justify-content: center;
    padding-right: 500px;
}

#textoS2{
    display: flex;
    padding-top: 80px;
    padding-left: 15px;
    justify-content: space-between;
    width: 370px;

}

#verTudo{
    font-size: smaller;  
    color: black;
}

#verTudo:hover{
    text-decoration: none;
}

#imagensS2{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#ofertaS3{
    justify-content: flex-start;
    border: solid black 1px;
    border-radius: 70px;
}

#imagensS3{
    display: flex;
    justify-content: space-between;
}




.link {
    height: 25px;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.setaEspacamento {
    display: flex;
    align-items: center; 
    margin: 0;
    padding: 0;
}

.link:hover{
    text-decoration: underline;
    text-underline-offset: 6px;
}

.textS2{
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.textosComSetasDiagonais {
    font-weight: 500;
    font-size: large;
}

.styleImgS3{
    background-color: rgb(243, 240, 240);
    height: 520px;
}